[user]
	name = Bharathan Mudaliar
	email = vbharathan.2013@gmail.com
[core]
	editor = code -w
[credential]
	helper = store
[alias]
	a = add -A
	aliases = config --get-regexp alias
	b = branch
	ba = branch --all
	bm = branch -m main
	c = clone
	cm = !git add -A && git commit
	cam = !git add -A && git commit --amend
	cl = clean -f
	ck = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
	gr = log --graph --oneline --all
	i = !git init && git add -A && git commit -m init && git branch -m main
	l = log
	ph = push
	pho = push -u origin main
	pl = pull
	r = remote
	ro = remote add origin
	rsetup = "!f() { git remote add origin \"$1\" && git push -u origin main; }; f"
	rs = reset
	rh = reset --hard
	s = status
[init]
	defaultBranch = main
[safe]
	directory = /home/bharat/dotfiles
